=render 'layouts/header'
.ui.segment
	.ui.special.cards
		- @publications.each do |pub|
			.ui.black.card{:style => "float:left !important ; margin-right:5px !important; margin-left:15px !important;"}
				.content
					.header
						=pub.title
				.extra.content
					= pub.genre
					.right.floated
						= pub.tags
				.extra.content
					%i.spy.icon
					= pub.pen_name 
					.inline.field
					= link_to 'Read', pub, :class => "ui small green button"