= render 'layouts/header'
.ui.middle.aligned.center.aligned.grid
	.column
		%h1 About us
		%p Verby is aimed at promoting readership of creative content.
		We seek to promote the creative spirit among writers and accessibility of their works by the general public on a uniform platform. Writing is an art and like all masterpieces they involve giving a part of yourself to the world. We want writers to give their best selves and give readers easy, convenient access. 
		%br 
		%br
		%i For all enquiries, criticism or suggestions send an email to #{link_to "info@verby.io", "https://gmail.com " ,target: "_blank" } and we'll be sure to get in touch with you.
