= render 'layouts/header'

.ui.column{:style => "padding-left:50px"}

	.ui.medium.header Guidelines
	%ul	
		%li If an editor does not appear immediately on your browser, do not panic. Refresh your browser it should appear. If it does not appear please contact us at info@verby.io or verbyltd@gmail.com
		%li Separate your headings from the body of your text by entering the heading in the titlearea. This makes it easier to showcase the titles to the readers as they make the consideration on what to read.
		%li Our editor does not work on mobile devices. We will work on fixing this. Meanwhileplease stick to using computers to upload your work.
		%li Our editor does not support copying from Microsoft word. Copy and paste your workinto notepad or wordpad then copy it into the editor
		%li It also does not support any  blogs that use blogger or blogspot. Please refer to procedure above.
		%li We are facing an issue with uploading images and inserting links although if you copy and paste from any of the supported platforms all of the styling present will be retained.We will be working to resolve this swiftly.
		%li For any other document on the internet copy and paste it directly. It will retain format,
		%li styling and images. If on posting no visible change is seen refer to the steps in 3 above.

		%li If you come across any hiccups and challenges please inform us of it on info@verby.io or verbyltd@gmail.com 

		%li Also reach out to us on social media 

		%li We expect you to act in good faith with regards to one another and maintain 
		camaraderie within the platform.

=link_to "Back to Publications", new_publication_path , :class => "ui small button"