= render 'layouts/header'
%center
	%h1 Terms and Conditions
.ui.middle.aligned.center.aligned.grid
	.column
		%p
		Verby is a completely free service to use in reading and to contribute to. We place no restrictions on the frequency of contributions so long as they fall withing the scope of operations of Verby. We will work relentlessly to promote and distribute the work of writers and get readers to use the platform to interact with their work. 

		%p
		There are no hidden charges associated to using Verby nor will any be instituted without prior notice to any of our users.

		%p
		We do however reserve the right to amend our terms and conditions as our business model arises. Nevertheless we will never endeavor to place any costs to contribution to the platform in the form of articles nor to the consumption of articles in the manner of reading. These services will remain free of any encumberances.
