= render  'layouts/header'

.ui.basic.segment
	
	.ui.negative.message
		%center 
			%h4
				We cant complete the action you requested

			%i.massive.bomb.icon
	%br
	%center
		= link_to root_path do
			.ui.tiny.basic.green.button Take me Home