.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header About
        .ui.inverted.link.list
          = link_to "Terms" , static_terms_path, :class => 'item'

        %h4.ui.inverted.header Social Media
        .ui.inverted.link.list
          %a.item{:href => "http://facebook.com/verbyink" , :target => "_blank"} Facebook
          %a.item{:href => "http://twitter.com/verbyink" , :target => "_blank"} Twitter
          %a.item{:href => "http://instagram.com/verbyink", :target => "_blank"} Instagram
          %a.item{:href => "https://plus.google.com/103867431119868706688", "data-layout" => "landscape", "data-rel" => "publisher", "data-theme" => "dark", "data-width" => "273" , :target => "_blank"} Google +
      .seven.wide.column
        %h4.ui.inverted.header Verby
        %p Step out of your world for a moment let us paint you a picture in the words of another.